.mod {
    color: white;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mod .mod-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mod .mod-remove {
    cursor: pointer;
}