.sem, .sem-edit {
    background-color: white;
    padding: 0.75rem 0.8rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.sem-name {
    margin: 0.5rem 0.75rem 0.75rem 0.75rem;
    text-align: left;
}

.sem-total {
    margin: 0.5rem 0.75rem;
    text-align: right;
}

.sem-total-num {
    font-size: larger;
}

.sem-droppable {
    min-height: 15.5rem;
}

.sem-droppable > div > :first-child {
    margin-bottom: 0.75rem;
}

.sem-droppable > div > :not(:last-child).mod {
    margin-bottom: 0.5rem;
}