#sems .row {
    margin-bottom: 2rem;
}

.add-remove-mods .col {
    display: flex;
    flex-direction: row-reverse;
}

.add-remove-mods .btn {
    text-align: right;
}

.sems-container > :not(:last-child).sems-row {
    margin-bottom: 2rem;
}

.sems-row .col {
    min-width: 50%;
}