.container.page-root {
  margin: 0px;
  max-width: none;
  padding-top: 36px;
}

.page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.degree-info {
  margin: 4rem 0rem;
}

.degree-info > div:not(:first-child) {
  margin-top: 36px;
}

.info-label {
  font-weight: 500;
}

.list-label {
  margin-top: 0.375rem;
}

.info-content {
  width: 25vw;
  margin-left: 32px;
}

span.info-content {
  padding: 0 1.25rem;
}

.read-only > div {
  background: rgba(0, 0, 0, 0);
}
