.module-finder-container {
  width: 22vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
  background-color: white;
}

.results {
  overflow-y: auto;
  max-height: 100%;
}

.results > div {
  margin-bottom: 1rem;
}

.MuiPagination-root {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
