.modal {
  text-align: center;
  padding: 0 !important;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  min-width: 50vw;
}

.modal-header {
  padding: 2rem 2rem 1rem;
  border-bottom: 0px;
}

.modal-body {
  padding: 1rem 2rem;
}

input#option-search-bar {
  box-shadow: none !important;
}

form#option-selector {
  max-height: 45vh;
  height: 45vh;
  overflow: scroll;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 1rem 1.5rem;
}

form#option-selector > .form-check {
  padding: 0.5rem 1.5rem;
}

form#option-selector > .form-check > label {
  margin-left: 1rem;
}
