.sem {
    border: 1px solid lightgrey;
    border-radius: 2px;
    background-color: white;
}

.sem-name {
    text-align: left;
    margin: 10px;
}

.sem-droppable {
    min-height: 42rem;
}