.page-actions {
  width: 100%;
  margin-bottom: 64px;
}

.page-actions :not(:first-child) {
  margin-left: 24px;
}

.page-root {
  margin: 0px;
  max-width: none;
  margin-top: 36px;
}

.page-sidebar {
  height: 80vh;
  border: 1px solid black;
}

.degree-info > div:not(:first-child) {
  margin-top: 36px;
}

.info-label {
  font-weight: 500;
}

.list-label {
  margin-top: 0.375rem;
}

.info-content {
  width: 25vw;
  margin-left: 32px;
}

span.info-content {
  padding: 0 1.25rem;
}

.read-only > div {
  background: rgba(0, 0, 0, 0);
}
