.Metrics {
    position: absolute;
    right: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 90vh;
    width: 20vw;
    background-color: #ffafaf;
}

#header {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.progress {
    background-color: #E5E5E5;
    min-height: 1.5rem;
}

.Planned {
    background-color: #BFC0FF;
    min-height: 1.5rem;

}

.Completed {
    background-color: #5E60CE;
    min-height: 1.5rem;
}

#legend {
    margin-top: 0.5rem;
    display: inline-block;
}

.col {
    padding-left: 0;
}

.CapHeader {
    font-weight: 500;
}

.card {
    background-color: transparent;
    border-color: transparent;
}

.card-header {
    background-color: transparent;
    border-color: transparent;
    font-weight: 500;
    padding-left: 0;
    padding-bottom: 0.25rem;
}

.card-body {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
