$theme-colors: (
  "primary": #5e60ce,
  "text-muted": #adb2c1,
);

@import "bootstrap";

.text-small {
  font-size: 0.75rem;
}

.font-weight-medium {
  font-weight: 500;
}

.gradient-color-0 {
  color: white;
  background-color: #7400b8;
}

.gradient-color-1 {
  color: white;
  background-color: #6930c3;
}

.gradient-color-2 {
  color: white;
  background-color: #5e60ce;
}

.gradient-color-3 {
  color: white;
  background-color: #5390d9;
}

.gradient-color-4 {
  color: white;
  background-color: #4ea8de;
}
